/*
* COLORS:
* teal: #00658b
* purple: #331256
* light-purple: #b2a4bd #876bab #977bbb
* maybe alt-purple? 5e4574
*/

html {
  min-height: 100%;
  height: 100%;
}
body {
	margin: 0;
	padding: 0;
	text-align: center;
	position: relative;
	background: #e5e5e5;
	font-size: 14px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  min-height: 100%;
  height: 100%;
}
p {
	padding: 4px 0 10px 0;
	margin: 0;	
}
ul {
	margin: 0;
	padding: 0;
	list-style-image:none;
	list-style-position:inside;
	list-style-type: circle;
}
a img {
	border: none;
}
#wrapper {
	background: #e5e5e5;
	color: #515151;
	position: relative;
  min-height: 100%;
  height: 100%;
}
#wrapper #innerwrap {
	width: 975px;
	background: #fff;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
  min-height: 100%;
}
#wrapper a {
	color: #3399b1;
	text-decoration: none;
}
#wrapper a:hover {
	text-decoration: underline;
}

#wrapper .top {
	width: 960px;
	margin: 0;
	padding: 50px 0 0 0;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	text-align: center;
	color: #3399b1;
}

#wrapper .top .logo {
	padding: 0;
	margin: 0;
	padding-top: 10px;
}
#wrapper .top .logocaption {
	padding: 0;
	padding-bottom: 3px;
	margin: 0;
  font-size: 29px;
  border-top: 1px solid #aae2e0;
  margin: 5px;
  padding-top: 10px;
}
#wrapper .top .logocaption .emphasize {
	color: #674399;
}
#wrapper .top .logocaptionalso {
  font-size: 22px;
  border-bottom: 1px solid #aae2e0;
  margin: 5px;
  padding-bottom: 10px;
}

#wrapper div.wrap_tippy_top {
  width: 100%;
  left: 0px;
	background: #3399b1;
	position: absolute;
	margin: 0;
}

#wrapper div.tippy_top {
	padding: 10px;
	margin: 0;
	height: 25px; /* actual height 45 */
	width: 946px;
	text-align: left;
	font-weight: none;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#wrapper ul.top_nav {
	margin:0;
	padding:0;
	left: 0px;
	position: absolute;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

#wrapper ul.top_nav li{
	margin:0;
	padding:0;
	font-size: 17px;
  line-height: 24px;
	display: inline;
}
#wrapper ul.top_nav li span.bullet {
  color: #fff;
  font-size: 12px;
}
#wrapper ul.top_nav li a {
	margin-right: 4px;
	text-decoration: none;
	padding: 8px 1px 10px 9px;
	color: #fff;
}
#wrapper ul.top_nav li a:hover {
	text-decoration: underline;
}
#wrapper ul.top_nav li a.selected {
  color: #aae2d0;
}
#wrapper ul.connect_links {
	margin: 0;
	margin-top: 5px;
	padding: 0;
	padding-left: 73px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	position: absolute;
	top: 0px;
	right: 0px;
}

#wrapper ul.connect_links li{
	margin:0;
	margin-left: 3px;
	padding:0;
	display: inline;
	color: #fff;
	font-size: 17px;
}
#wrapper ul.connect_links li.connect{
  display: block;
  float: left;
  margin-top: 7px;
  margin-right: 4px;
}
#wrapper .main {
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
}
#wrapper .bottom_border {
  width: 100%;
  height: 10px;
  position: relative;
  left: 0px;
  bottom: 10px;
  background: #3399b1;
}
#wrapper .main .content {
	border: 1px solid #fff;
	margin: 0;
	padding: 10px 0px 10px 20px;
	text-align: left;
	position: relative;
}
#wrapper .main .blogposts {
  width: 630px;
}
#wrapper .main .content h1.pagetitle{
	padding: 0;
  margin: 0 0 10px 10px;
  width: 840px;
	text-align: left;
	border-bottom: 1px solid #AAE2E0;
}
#wrapper .main .content .profile {
	float: left;
}
#wrapper .main .content .profile p {
	padding: 5px 0 0 0;
	margin: 0;
}
#wrapper .main .content .profile img {
	border: 2px solid #331256;
	margin-left: 10px;
}
#wrapper .main .content .illustration {
	float: left;
	margin-left: 50px;
}
#wrapper .main .content .illustration p {
	padding: 0 0 5px 0;
	margin: 0;
}
#wrapper .main .content .right_side {
	float: right;
	width: 180px;
	margin: 0 23px 0 0;
	padding: 0;
}
#wrapper .main .content .right_side ul {
	font-size: 14px;
	margin: 0;
	padding: 0 0 10px 0;
}
#wrapper .main .content .right_side ul li {
	padding: 0 0 2px 0;
}
#wrapper .main .content .specialities {
	background: url(../images/bio/specialties.gif) no-repeat;
	padding: 25px 0px 10px 3px;
}
#wrapper .main .content .specialities h3 {
	margin: 0;
	padding: 6px 0px;
	font-weight: normal;
	font-size: 14px;
	color: #00658b;
}
#wrapper .main .content .selected_clients {
	background: url(../images/bio/selectedclients.gif) no-repeat;
	padding: 25px 0px 10px 3px;
}
#wrapper .main .content .blurb {
	width: 630px;
	margin-left: 10px;
	font-size: 14px;
	float: left;
}
#wrapper .main .content .blurb h3 {
	color: #00658b;
	padding: 10px 0 0 0;
	margin: 0;
}
#wrapper .main .content .blurb p {
	padding: 4px 0 10px 0;
	margin: 0;
}
#wrapper .main .content .testimonials h3 {
	color: #00658b;
	padding: 10px 0 10px 0;
	margin: 0;
}
#wrapper .main .content .testimonials {
	margin: 0 60px 0 35px;
}
#wrapper .main .content .testimonials p {
	padding: 6px 0 6px 0;
	margin: 0;
}
#wrapper .main .content .testimonials hr {
	border: none;
}
#wrapper .main .content .testimonials span.author {
	padding: 4px 0 6px 0;
	display: block;
  color: #3399B1;
}
#wrapper div.bottom_spacer {
	margin: 0;
	padding: 0;
	height: 7px;
	line-height: 7px;
	font-size: 7px;
}
#wrapper div.bottom_stuff {
	width: 964px;
	height: 350px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	background: #fff;
	text-align: left;
  position: relative;
}

#wrapper div.bottom_stuff .bio{
  width: 440px;
  margin-left: 34px;
  padding: 10px;
}
#wrapper div.bottom_stuff .bio p {
  padding: 0 4px;
  font-size: 14px;
  width: 437px;
}

#wrapper div.bottom_stuff .bio img {
  float: left;
  border: 3px solid #3399b1;
  margin: 2px 12px 0 0;
}

#wrapper div.bottom_stuff .bio h3, #wrapper div.bottom_stuff .contact h3 {
  color: #674399;
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 4px;
  margin-bottom: 11px;
  border-bottom: 1px solid #aae2e0;
}

#wrapper div.bottom_stuff .copyright{
	position: absolute;
	bottom: 10px;
	left: 350px;
}

#wrapper div.bottom_stuff .contact {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 10px;
	right: 46px;
	width: 350px;
}

#wrapper div.bottom_stuff .contact p.first {
	font-weight: bold;
	padding-bottom: 10px;
}

#wrapper div.bottom_stuff .contact p {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	color: #3399B1;
}

#wrapper div.bottom_stuff .contact label{
	color: #515151;
}

#wrapper div.bottom_stuff .contact h3 {
  color: #674399;
  border-bottom: 1px solid #aae2e0;
}


.quote {
/*	padding: 55px;*/
	margin: auto;
	width: 827px; /* actual width 827*/
	height: 214px; /* actual height 214 */
/*	background: url(../images/quotebox.gif) no-repeat;*/
	text-align: center;
}
.quote h1 {
	margin: 0;
	padding: 0;
	font-size: 32px;
	color: #006084;
	font-weight: none;
}

#wrapper .main .featured {
	text-align: left;
	height: 140px;
}

#wrapper .main .featured .featured_work {
	float: left;
	border: 5px solid #acd8df;
	height: 144px;
	margin: 3px 7px 5px 8px;
}

#wrapper .main .featured a.view_all {
	display: block;
	text-decoration: none;
	color: #006084;
	padding-bottom: 10px;
	width: 150px;
	padding-left: 130px;
	padding-top: 8px;
	margin-left: 10px;
	background: url(../images/featuredwork.gif) no-repeat;
}

.works_nav {
	text-align: left;
	padding-top: 20px;
	padding-bottom: 10px;
  margin-left: 48px;
}

.works_nav h3 {
	font-size: 18px;
	padding: 0;
	margin: 0;
}

.works_nav table {
	border-collapse: collapse;
	border-spacing:0px;
}

.works_nav table td {
	margin: 0;
	padding: 0;
	text-align: center;
	height: 70px;
	background: #2d9aaf;
}

.works_nav table td.nav {
  background: #fff;
  width: 40px;
}
.works_nav table td.rightslide {
  background: url("/creations/right_slide_on.gif") 0 13px no-repeat;;
}
.works_nav table td.leftslide {
  background: url("/creations/left_slide_on.gif") 0 13px no-repeat;;
}
.works_nav table td.leftslide a, .works_nav table td.rightslide a {
  display: block;
}
.works_nav table td.leftslide a:hover img, .works_nav table td.rightslide a:hover img {
  visibility:hidden;
}
.works_nav table td.spacer {
  background: #fff;
  width: 9px;
}
.works_nav table td.lilspacer {
  background: #fff;
  width: 6px;
}
.works_nav table td.nav a {
  color: #515151;
}

.works_nav table td.selected {
  background: #aae2e0;
}

.works_nav table td div {
	font-size: 13px;
	padding: 0 5px 0 5px;
	width: 70px;
}

#wrapper .works_nav table td.selected a {
	list-style-type: none;
	font-weight: bold;
  color: #2d9aaf;
}

#wrapper .works_nav table td a {
	color: #fff;
}

.main .work {
  margin-left: 48px;
	padding: 0px;
	width: 881px;
	min-height: 400px;
	text-align: left;
	border: 1px solid #aaaaaa;
}

.main .work h3 {
	color: #fff;
	background: #aaaaaa;
	font-size: 18px;
	padding: 10px;
	margin: 0;
}
.main .work h4 {
	color: #00658b;
	font-size: 15px;
	margin: 0;
	padding: 0;
}
.main .work .explanation {
	font-size: 14px;
}
.main .work .responsibilities {
	font-size: 14px;
}
.main .work .responsibilities ul {
	height: 20px;
	list-style-position: inside;
}
.main .work .responsibilities ul li {
	float: left;
	padding: 0;
	margin-right: 10px;
}
#wrapper .main .work .viewfull a {
	font-weight: normal;
	font-size: 13px;
	color: #00658b;
}
.main .work .images {
	margin: 20px 0px;
	text-align: center;
}
.main .work .images img {
	margin-bottom: 25px;
}
#wrapper .main .below_post {
	text-align: left;
	margin-left: 35px;
	width: 660px;
	margin-bottom: 30px;
}
#wrapper .main .below_post ul.commentlist {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}
#wrapper .main .below_post ul.commentlist li {
	display: list-item;
}
#wrapper .main .below_post textarea {
	width: 590px;
	height: 100px;
}
#wrapper .main .below_post input.submit {
	float: right;
	margin-right: 60px;
}
.main .recent_posts {
	float: right;
	text-align: left;
	width: 185px;
	margin: 85px 40px 0 0;
	padding: 0;
}
.main .recent_posts h2 {
	padding: 0 0 5px 0;
	margin: 0;
	border-bottom: 1px solid #AAE2E0;
	font-size: 14px;
  color: #3399b1;
}
.main .recent_posts ul {
	padding-top: 5px;
	list-style-position:outside;
	list-style-type:none;	
}
.main .recent_posts ul li {
	padding: 5px 0px 5px 0px;
	border-bottom: 1px solid #AAE2E0;
}
#wrapper .main .recent_posts ul li a {
	color: #515151;
}
#wrapper .main .recent_posts a.view_archives {
	text-decoration: none;
	color: #006084;
	padding-top: 10px;
	display: block;
}
.main .entrybody {
	margin-left: 10px;
	margin-bottom: 20px;
	width: 630px;
	padding: 0;
	text-align: left;
}
.main .entrybody h2 {
	margin: 0;
}
.main .entrybody .blog {
  padding: 10px;
  border: 1px solid #AAE2E0;
}
.main .entrybody .blog p {
  padding: 5px 30px 5px 18px;
}
.main .entrybody .blog h2 {
	border-bottom: solid 1px #AAE2E0;
	padding-bottom: 4px;
	margin-bottom: 6px;
}
.main .entrybody .blog img{
  display: block;
  margin: auto;
}
.main .entrybody .meta {
	background: #fff;
}
.main .entrybody .meta ul {
	margin: 0 20px;
	padding:0;
	float: right;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
.main .entrybody .meta ul li {
	display: inline;
	color: #00658b;
}
#wrapper .main .entrybody .meta ul li a {
	color: #00658b;
}

#wrapper .contact {
	text-align: left;
	padding: 20px;
}

.contact .how_can_i_help {
}
.contact .form input.contact_input {
	width: 340px;
	margin-bottom: 5px;
	padding: 4px;
	border: 1px solid #999;
  color: #515151;
  font-size: 14px;
}
.contact .form textarea.contact_input {
	width: 340px;
	padding: 4px;
	height: 80px;
	border: 1px solid #999;
  color: #515151;
  font-size: 14px;
}
#wrapper .contact .form input.defaultTextActive {
  color: #3399B1;
}
#wrapper .contact .form textarea.defaultTextActive {
  color: #3399B1;
}
.contact .form input.contact_submit{
	float: right;
	margin: 5px -1px;
}
.contact .details {
	float: right;
	width: 250px;
	margin: 0;
	padding: 25px 0px;
}
.contact .details div {
	padding-left: 40px;
	margin-bottom: 20px;
}
.contact .details .mobile {
	background: url(../images/contact/phone.gif) no-repeat;
}
.contact .details .email {
	background: url(../images/contact/email_icon.gif) no-repeat;
}
.contact .details .address {
	background: url(../images/contact/snailmail.gif) no-repeat;
}
.clear {
	clear: both;
}