/*
* COLORS:
* teal: #00658b
* purple: #331256
* maybe alt-purple? 5e4574
*/

html {
}
body {
	margin: 0;
	padding: 0;
	text-align: center;
	position: relative;
	background: #331256;
/*	url(../images/bgcanvas.jpg) repeat-x 0 -109px;*/
	font-size: 14px;
}
a img {
	border: none;
}
#wrapper {
	color: #5e4574;
}
#wrapper a {
	color: #5e4574;
	text-decoration: none;
}
#wrapper a:hover {
	text-decoration: underline;
}

#wrapper .top {
	padding: 5px 0 5px 0;
	height: 120px; /* actual height 140 */
	background: #daddcf url(../images/canvas.gif);
	font-size: 17px;
	margin-bottom: 0;
}

#wrapper .top .logo {
	border-top: 1px dashed #00658b;
}
#wrapper .top .logocaption {
	padding: 0;
	padding-bottom: 3px;
	margin: 0;
	border-bottom: 1px dashed #00658b;	
}

#wrapper div.tippy_top {
	padding: 10px;
	margin: 0;
	height: 25px; /* actual height 45 */
	width: 890px;
	text-align: left;
	font-weight: none;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#wrapper ul.top_nav {
	margin:0;
	padding:0;
	left: 0px;
	position: absolute;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

#wrapper ul.top_nav li{
	margin:0;
	padding:0;
	font-size: 20px;
	display: inline;
}

#wrapper ul.top_nav li a{
	margin-right: 5px;
	text-decoration: none;
	padding: 8px 15px 10px 15px;
	color: #fff;
}


#wrapper ul.connect_links {
	margin: 0;
	margin-top: 5px;
	padding: 0;
	padding-left: 73px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	position: absolute;
	top: 0px;
	right: 0px;
	background: url(../images/connect.gif) 0px 2px no-repeat;
}

#wrapper ul.connect_links li{
	margin:0;
	margin-left: 3px;
	padding:0;
	display: inline;
}

#wrapper .main {
	width: 910px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	min-height: 400px;
	background: #fff;
	text-align: center;
}

#wrapper .main .content {
	border: 1px solid #fff;
	margin: 0;
	padding: 19px 0px 19px 19px;
	text-align: left;
	position: relative;
}
#wrapper .main .content h1.pagetitle {
	margin: 0;
	margin-left: 10px;
	padding: 0;
	width: 890px;
}
#wrapper .main .content .profile {
	float: left;
}
#wrapper .main .content .profile p {
	padding: 5px 0 0 0;
	margin: 0;
}
#wrapper .main .content .profile img {
	border: 2px solid #331256;
	margin-left: 10px;
}
#wrapper .main .content .illustration {
	float: left;
	margin-left: 50px;
}
#wrapper .main .content .illustration p {
	padding: 0 0 5px 0;
	margin: 0;
}
#wrapper .main .content .right_side {
	float: right;
	width: 180px;
}
#wrapper .main .content .right_side ul {
	margin: 0;
	padding: 0;
	list-style-image:none;
	list-style-position:inside;
	list-style-type: circle;
	font-size: 14px;
}
#wrapper .main .content .specialities {
	background: url(../images/bio/specialties.gif) no-repeat;
	padding: 25px 0px 10px 3px;
}
#wrapper .main .content .specialities h3 {
	margin: 0;
	padding: 6px 0px;
	font-weight: normal;
	color: #00658b;
}
#wrapper .main .content .selected_clients {
	background: url(../images/bio/selectedclients.gif) no-repeat;
	padding: 25px 0px 10px 3px;
}
#wrapper .main .content .blurb {
	width: 630px;
	margin-left: 10px;
	font-size: 14px;
	float: left;
}

#wrapper .main .content .blurb h3 {
	color: #00658b;
	padding: 10px 0 0 0;
	margin: 0;
}
#wrapper .main .content .blurb p {
	padding: 4px 0 10px 0;
	margin: 0;
}
#wrapper div.bottom {
/*	padding: 5px 0 5px 0;*/
/*	height: 270px;*/
	background: #daddcf url(../images/canvas.gif);
	font-size: 19px;
/*	margin-bottom: 0;*/
/*	text-align: center;*/
}
#wrapper div.bottom_spacer {
	margin: 0;
	padding: 0;
	height: 7px;
	line-height: 7px;
	font-size: 7px;
}
#wrapper div.bottom_dasher {
	border-top: 1px dashed #00658B;
}
#wrapper div.bottom_stuff {
	position: relative;	
	text-align: left;
	margin: auto;
	width: 910px;
	height: 250px;
	font-size: 13px;
}

#wrapper div.bottom_stuff .copyright{
	position: absolute;
	bottom: 10px;
	left: 350px;
}

#wrapper div.bottom .blog_posts {
	position: absolute;
	top: 30px;
	left: 110px;
	text-align: left;
	font-size: 13px;
}

#wrapper div.bottom .blog_posts ul {
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 0px;
	padding-top: 5px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;	
}

#wrapper div.bottom .blog_posts ul li {
	padding: 5px 0px 5px 0px;
	border-bottom: 1px dashed #00658B;
}

#wrapper div.bottom .blog_posts a.view_archives {
	display: block;
	text-decoration: none;
	color: #006084;
	padding-bottom: 10px;
	width: 100px;
	padding-left: 150px;
	padding-top: 8px;
	background: url(../images/recentblogpost.gif) no-repeat;
}

#wrapper div.bottom .contact {
	position: absolute;
	top: 30px;
	left: 520px;
	width: 240px;
}

#wrapper div.bottom .contact p.first {
	font-weight: bold;
	padding-bottom: 10px;
}

#wrapper div.bottom .contact p {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
}

#wrapper div.bottom .contact p a {
	
}

#wrapper div.bottom .contact label{
	color: #297b97;
	font-weight: bold;
}

.quote {
/*	padding: 55px;*/
	margin: auto;
	width: 827px; /* actual width 827*/
	height: 214px; /* actual height 214 */
/*	background: url(../images/quotebox.gif) no-repeat;*/
	text-align: center;
}
.quote h1 {
	margin: 0;
	padding: 0;
	font-size: 32px;
	color: #006084;
	font-weight: none;
}

#wrapper .main .featured {
	text-align: left;
	height: 140px;
}

#wrapper .main .featured .featured_work {
	float: left;
	border: 5px solid #acd8df;
	margin: 3px 7px 5px 8px;
}

#wrapper .main .featured a.view_all {
	display: block;
	text-decoration: none;
	color: #006084;
	padding-bottom: 10px;
	width: 150px;
	padding-left: 130px;
	padding-top: 8px;
	margin-left: 10px;
	background: url(../images/featuredwork.gif) no-repeat;
}

.works_right_nav {
	float: right;
	text-align: left;
	padding-top: 30px;
	padding-left: 10px;
	margin-right: 10px;
	width: 175px;
}

.works_right_nav h3 {
	font-size: 18px;
	padding: 0;
	margin: 0;
}

.works_right_nav ul {
	margin:0;
	padding:0;
	list-style-image:none;
	list-style-position:inside;
	list-style-type:circle;	
	color: #00658b;
}

.works_right_nav ul li {
	margin: 0;
	padding: 0;
}

#wrapper .works_right_nav ul li.selected a {
	list-style-type: none;
}

#wrapper .works_right_nav ul li.selected a {
	color: #331256;
}

#wrapper .works_right_nav ul li a {
	color: #00658b;
}

.main .work {
	padding: 30px;
	width: 660px;
	text-align: left;
}

.main .work h3 {
	color: #00658b;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

#wrapper .main .work .viewfull a {
	font-weight: normal;
	font-size: 13px;
	color: #00658b;
}

.main .blogposts {
	padding-top: 33px;
	background: white url(../images/musings.gif) 32px 28px no-repeat;
}

.main .entrybody {
	margin: 20px;
	width: 700px; /*actual width 700 */
	padding: 0;
	background: white url(../images/blog_mid.gif) repeat;
	text-align: left;
}

.main .entrybody h2 {
	margin: 0;
}

.main .entrybody .blog {
	width: 600px; /*actual width 700 */
	padding: 50px 25px 25px 75px;
	background: url(../images/blog_top.gif) no-repeat;
}

.main .entrybody .blog_butt {
	width: 700px;
	height: 23px;
	background: white url(../images/blog_butt.gif) repeat;
}

#wrapper .contact {
	text-align: left;
	padding: 20px;
}

.contact .how_can_i_help {
}

.contact .form {
	width: 567px;
	height: 464px;
	padding: 5px 20px;
	background: url(../images/contact/contactform_box.gif) no-repeat;
}
.contact .form label{
	display: block;
	padding-top: 5px;
}
.contact .form input.contact_input {
	width: 540px;
	height: 20px;
}
.contact .form textarea.contact_input {
	width: 540px;
	height: 240px;
}
.contact .form input.contact_submit{
	float: right;
	margin: 5px 20px;
}
.contact .details {
	float: right;
	width: 250px;
	margin: 0;
	padding: 15px 0px;
}
.contact .details div {
	padding-left: 40px;
	margin-bottom: 20px;
}
.contact .details .mobile {
	background: url(../images/contact/phone.gif) no-repeat;
}
.contact .details .email {
	background: url(../images/contact/email_icon.gif) no-repeat;
}
.contact .details .address {
	background: url(../images/contact/snailmail.gif) no-repeat;
}
.clear {
	clear: both;
}