<div class="contact">
<img src="/images/contact/contact_form.gif" alt="how can i help you?" class="how_can_i_help" />
<br/>
Please feel free to contact me with any inquiries you may have

<div class="details">
mobile:
<br/>
603.303.3189
<br/>
e-mail:
<br/>
<a href="mailto:jburkhart@jotapajaro.com">jburkhart@jotapajaro.com</a>
<br/>
address:
<br/>
62 Santa Maria Avenue
<br/>
Pacifica, CA 94044

</div>

<div class="form">
	name
	<br/><br/>
	email
	<br/><br/>
	the details
	<br/><br/>
</div>

</div>
