<% content_for(:head) do -%>
  <%= javascript_include_tag('admin/pages.js') %>
<% end -%>

<h1>Your work</h1>

<table cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Created At</th>
      <th>Title</th>
      <th>Category</th>
      <th>Sort</th>
      <th>Actions</th>
    </tr>
  </thead>
	
  <tbody>
    <% if @works.empty? -%>
      <tr><td colspan="5">empty.</td></tr>
    <% else -%>
      <%= render :partial => 'work', :collection => @works %>
    <% end -%>
  </tbody>

  <tfoot>
    <% if @works.total_pages > 1 -%>
      <tr class="pagination">
        <td colspan='5'>
          <%= will_paginate(@works, :previous_label => '« Newer', :next_label => 'Older »') %>
        </td>  
      </tr>  
    <% end -%>  
  </tfoot>
</table>
