<div class="recent_posts">
	<h2>Recent Posts</h2>
	<ul>
		<% Post.recent.each do |post| %>
		<li><%=link_to post.title, post_path(post) %></li>
		<% end %>
	</ul>
	<a class="view_archives" href="/archives/">archives &gt;</a>
</div>