<% content_for(:page_title) do -%>
<%="Contact | #{enki_config[:title]}"%>
<% end -%>
<div class="contact">
<img src="/images/contact/contact_form.gif" alt="how can i help you?" class="how_can_i_help" />
<br/>

<div class="details">
	<div class="mobile" >
		mobile:<br/>
		603.303.3189
	</div>
	<div class="email">
		e-mail:<br/>
		<a href="mailto:jburkhart@jotapajaro.com">jburkhart@jotapajaro.com</a>
	</div>
</div>

<% if @render_form %>
	<%= render :partial => 'form' %>
<% elsif @render_thank_you %>
	<%= render :partial => 'thank_you' %>
<% end %>

</div>
