<% content_for(:page_title) do -%>
<%="Contact | #{enki_config[:title]}"%>
<% end -%>
<div class="contactpage">
<br/>

<% if @render_form %>
	<%= render :partial => 'form' %>
<% elsif @render_thank_you %>
	<%= render :partial => 'thank_you' %>
<% end %>

</div>
